/.idea/libraries/apidocs.xml
/.idea/libraries/Hello.xml
/code/page58ex01/src/main/main.iml
/code/p65ex2/src/main/main1.iml
/.idea/misc.xml
/.idea/modules.xml
/Syntra_Java_Year2_all.iml
/code/p14ex2/CursusMaven/Hello/src/test/test.iml
/code/p65ex2/src/test/test1.iml
/code/page58ex01/src/test/test2.iml
/.idea/.gitignore
/.idea/vcs.xml
